@font-face {
    font-family: LetristaScript;
    src: url("font/LetristaScript.woff") format("woff"), url(font/LetristaScript.woff2) format("woff2"), url(font/LetristaScript.eot), url(font/LetristaScript.eot?#iefix) format("embedded-opentype"), url(font/LetristaScript.otf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
body.dark-mode {
    background-color: #1a1a1a;
    color: #fff;
}
.section {
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    padding: 40px;
    transition: background-color .3s ease;
}
.section-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    transition: transform .3s ease;
}
.section-img:hover {
    transform: scale(1.1);
}
footer a,
.footer:hover,
.nav-item a:hover {
    transition: color .3s ease;
    text-decoration: none;
    color: #fff;
}
.btn,
.btn-custom-border {
    color: #fff;
    transition: box-shadow .3s ease, background-color .3s ease, transform .3s;
    background-color: purple;
}
.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    background-color: purple;
}
.btn-custom-border {
    border: 2px solid purple;
}
.btn-custom-border:hover {
    transform: scale(1.1);
}
.footer:hover,
.nav-item a:hover {
    color: purple;
}
.fullscreen-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;
}
.fullscreen-image img {
    max-width: 90%;
    max-height: 90vh;
}
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
}
.close-button:hover {
    cursor: pointer;
}
.band-banner {
    position: relative;
    text-align: center;
    color: white;
}
.band-banner img {
    width: 100%;
    height: auto;
}
.social-btns {
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}
.social-btns-a {
    margin: 0 15px;
    font-size: 30px;
    color: white;
}